<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>634405160368-keedfk38b6pam7k7l0fleiurm6gvvt3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634405160368-keedfk38b6pam7k7l0fleiurm6gvvt3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBoAP3I_Z1_sD1GaEBYCMVz5pRS1x7zq0c</string>
	<key>GCM_SENDER_ID</key>
	<string>634405160368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HCI-Project.HCI-GROUP-13-Tyler</string>
	<key>PROJECT_ID</key>
	<string>hci-group-13-data</string>
	<key>STORAGE_BUCKET</key>
	<string>hci-group-13-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634405160368:ios:14fe01d3aed4a8b5</string>
	<key>DATABASE_URL</key>
	<string>https://hci-group-13-data.firebaseio.com</string>
</dict>
</plist>